
.about {
    display: grid;
    background-color: #EADEB8;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
  }
  
  
  .about img {
    width: 450px;
    border: 5px solid #FFFF;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 3px 6px 11px -5px #7C8252;
    grid-column: 2/5;
    transform: scaleX(-1);
  }
  
  .about-info {
    grid-column: 5/10;
    padding: 3em;
  }
  
  .about-info h2 {
    font-size: 2em; 
    color: #7C8252;
  }
  
  
  .about .divider {
    height: 4px;
    width: 60px;
    background-color: #7C8252;
    margin-top: 5px;
    margin-bottom: 2em;
  }
  
  .about p {
    margin-bottom: 1em;
    color: #7C8252;
  }

  
/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {

  .about {
    display: block;
  }

  .about img {
    display: none;
    }

  .about-info {
    max-width: 100%;
  }
}
