.contact-section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #151F28;
  color: #fff;
  padding: 3em;
  margin: 0 auto;
}

.contact-headings h2 {
  font-size: 2.5em;
}

.contact-section .divider {
  height: 4px;
  width: 60px;
  background-color: #95A3E0;
  margin-top: 5px;
  margin-bottom: 2em;
}

.contact-details {
  display: grid;
}

.contact-details ul {
  list-style: none;
}
.contact-details ul li {
  margin-top: 7px;
}

.contact-details ul li a {
  text-decoration: none ;
  color: #fff;
}


.container-contact {
  margin: 0 auto;
  margin-left: 30em;
  margin-bottom: 0.5em;
  margin-top: 3em;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-top: 0.5em;
}

.form input {
  padding: 3px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form textarea {
  background: none;
  color: #fff;
  padding: 1em;
  border: 1px solid #fff;
  width: max-content;
  height: 150px;
}

.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  background-color: #4E2ECF;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 6px 11px -5px rgba(87, 70, 150, 0.69);
}

.btn-submit:hover {
  box-shadow: none;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .contact-section {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    padding: 2em;
  }

  .container-contact {
    margin-left: 0; /* Elimina el margen izquierdo */
  }

  .form {
    width: 100%; /* Ocupa todo el ancho disponible */
  }
}
