.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #95A3E0;
  }
  
  .footer-content h6 {
    font-size: 0.9em;
    margin-top: 6em;
    color: #0A0D14;
  }
  
  .sotial-network {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    margin-top: 1em;
  }
  
  