* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #151F28;
  color: #fff;
  padding: 20px;
}

.header {
  background-color: rgba(21, 31, 40, 0.8);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .brand {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.header .brand span {
  color: #95A3E0;
  margin-left: 10px;
}

.header .navbar {
  display: flex;
  align-items: center;
}

.header .navbar .menu {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.header .navbar .menu .active {
  color: #95A3E0;
}

.header .navbar ul li {
  list-style: none;
}

.header .navbar ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s;
  padding: 10px 10px;
}

.header .navbar ul a:hover {
  color: #95A3E0;
  transition: ease-in 0.5s;
  border: none;
}

.menu .login-button {
  width: auto;
  padding: 8px 12px;
  background-color: #1BC23E;
  color: #FFFFFF;
  border: none;
  border-radius: 2.5em;
  cursor: pointer;
  box-shadow: 1px 6px 11px -5px rgba(102, 231, 167, 0.69);
}

.login-button:hover {
  box-shadow: none;
}

.submission {
  text-align: center;
  padding: 20px;
}

.submission img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border: 5px solid #95A3E0;
  border-radius: 20px;
  margin: 20px 0;
  filter: drop-shadow(1px 3px 8px rgba(39, 37, 45, 0.69));
  box-shadow: 3px 6px 11px -5px rgba(29, 26, 36, 0.69);
}

.info-content {
  padding: 20px;
}

.info-content__subtitle {
  padding: 10px 0;
}

h1 {
  font-size: 2em;
}

span {
  color: #95A3E0;
}

.contact {
  padding: 10px 30px;
  background-color: #4E2ECF;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 1px 6px 11px -5px rgba(87, 70, 150, 0.69);
}

.contact:hover {
  box-shadow: none;
}

.toggle-menu {
  display: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .header .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px; /* Ajusta esto según tu diseño */
    left: 0;
    background-color: #151F28;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .header .navbar.open {
    display: flex;
  }

  .header .navbar .menu {
    margin: 20px 0;
  }

  .header .navbar ul li {
    list-style: none;
  }

  .header .navbar ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0;
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px 0;
  }
}
