* {
  margin: 0;
  padding: 0;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Nothing You Could Do', cursive; */
  /* font-size: x-large; */
  font-family: 'Inter', 'Arial', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #FFFFFF;
  color: #181818;
  padding: 20px;
}

.header {
  background-color: rgba(21, 31, 40, 0.8);
  color: #18181818;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .brand {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.header .brand span {
  color: #95A3E0;
  margin-left: 10px;
}

.header .navbar {
  display: flex;
  align-items: center;
}

.header .navbar .menu {
  list-style: none;
  display: flex;
  margin-right: 20px;
}


.header .navbar ul li {
  list-style: none;
}

.header .navbar ul li a {
  text-decoration: none;
  color: #181818;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s;
  padding: 10px 10px;
}

.header .navbar ul a:hover {
  color: #95A3E0;
  transition: ease-in 0.5s;
  border: none;
}

.menu .login-button {
  width: auto;
  padding: 8px 12px;
  background-color: #1BC23E;
  color: #181818;
  border: none;
  border-radius: 2.5em;
  cursor: pointer;
  box-shadow: 1px 6px 11px -5px rgba(102, 231, 167, 0.69);
}

.login-button:hover {
  box-shadow: none;
}

.submission {
  text-align: center;
  padding: 20px;
}

.submission img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border: 5px solid #95A3E0;
  border-radius: 20px;
  margin: 20px 0;
  filter: drop-shadow(1px 3px 8px rgba(39, 37, 45, 0.69));
  box-shadow: 3px 6px 11px -5px rgba(29, 26, 36, 0.69);
}

.hello h1 {
  font-size: 6em;
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}


.info-content {
  padding: 20px;
  font-size: 2em;

	-webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.info-content h1 {
  font-size: 3em;
}


.info-content__subtitle, .info-content__subtitle2 {
  -webkit-animation: text-focus-in 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


span {
  color: #181818;
}



.contact {
  padding: 10px 30px;
  background-color: #FFFFFF;
  color: #181818;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 2px 4px 11px 2px rgba(87, 70, 150, 0.69);
}

.contact:hover {
  box-shadow: none;
}

.toggle-menu {
  display: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .header .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px; /* Ajusta esto según tu diseño */
    left: 0;
    background-color: #181818;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .header .navbar.open {
    display: flex;
  }

  .header .navbar .menu {
    margin: 20px 0;
  }

  .header .navbar ul li {
    list-style: none;
  }

  .header .navbar ul li a {
    text-decoration: none;
    color: #181818;
    margin: 0;
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px 0;
  }

}
