#portfolio {
  padding: 3em;
  margin: auto;
  background-color: #151F28;
}

#portfolio .portfolio-headings {
  font-size: 2.5em;
  color: #fff;
}

#portfolio .divider {
  height: 4px;
  width: 60px;
  background-color: #95A3E0;
  margin-top: 5px;
  margin-bottom: 2em;
}

#portfolio .row {
  display: flex;
  flex-wrap: wrap; /* Añade un "wrap" para que los elementos se ajusten en dispositivos móviles */
  justify-content: space-between;
  margin: 30px 0;
}

#portfolio .row .proyect {
  max-width: calc(50% - 20px); /* Hace que los proyectos ocupen el 50% del ancho en dispositivos móviles */
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

#portfolio .row .proyect img {
  width: 100%;
  height: auto; /* Cambia la altura para que se ajuste automáticamente en dispositivos móviles */
  filter: grayscale(1);
  object-fit: cover;
  transition: .5s;
}

#portfolio .row .proyect:hover img {
  filter: grayscale(0);
}

#portfolio .row .proyect .info {
  position: absolute;
  left: 0;
  background-color: rgba(10, 13, 20, .8);
  color: #95A3E0;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}

#portfolio .row .proyect:hover .info {
  opacity: 1;
  bottom: 0;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  #portfolio .row .proyect {
    max-width: 100%; /* Ocupa el 100% del ancho en dispositivos móviles */
    margin-bottom: 20px; /* Añade espacio entre los proyectos */
  }
  #portfolio .row .proyect .info {
    position: absolute;
    left: 0;
    background-color: rgba(10, 13, 20, .8);
    color: #95A3E0;
    width: 100%;
    padding: 10px;
    opacity: 1;
    bottom: 0;
  }
  
#portfolio .row .proyect img {
  filter: none;
}
}
