#portfolio {
  padding: 3em;
  margin: auto;
  background-color: #181818;
}

#portfolio .portfolio-headings {
  font-size: 2.5em;
  color: #fff;
}

#portfolio .divider {
  height: 4px;
  width: 60px;
  background-color: #95A3E0;
  margin-top: 5px;
  margin-bottom: 2em;
}

#portfolio .row {
  display: grid;
  flex: 0 0 auto;
  gap: 24px;
  grid-auto-rows: minmax(0px, 1fr);
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  grid-template-rows: repeat(2, minmax(0px, 1fr));
  justify-content: center;
  overflow: visible;
  padding: 0px;
  position: relative;
  /* width: 1008px; */
}

#portfolio .row .proyect {
   /* max-width: calc(50% - 20px);Hace que los proyectos ocupen el 50% del ancho en dispositivos móviles */
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

#portfolio .row .proyect img {
  width: 100%;
  height: auto; /* Cambia la altura para que se ajuste automáticamente en dispositivos móviles */
  filter: grayscale(1);
  object-fit: cover;
  transition: .5s;
}

#portfolio .row .proyect:hover img {
  filter: grayscale(0);
}

#portfolio .row .proyect .info {
  position: absolute;
  text-align: center;
  left: 0;
  background-color: rgba(10, 13, 20, .8);
  color: #95A3E0;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}

#portfolio .row .proyect:hover .info {
  opacity: 1;
  bottom: 0;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  #portfolio .row {
    grid-template-columns: repeat(1, minmax(50px, 1fr));
    /* height: 1400px; */
    order: 1;
    width: 100%;
  }

  #portfolio .row .proyect {
    max-width: calc(50% - 20px);
    max-width: 100%; 
    margin-bottom: 20px;
    border-radius: 30px;
  }
  
  /* #portfolio .row .proyect .info { */
    /* position: absolute;
    left: 0;
    background-color: rgba(10, 13, 20, .8);
    color: #95A3E0;
    width: 100%;
    padding: 10px;
    opacity: 1;
    bottom: 0; */
  /* } */
  
#portfolio .row .proyect img {
  filter: none;
}
}
